openapi: 3.2.0
info:
  title: Joblogic Invoices API
  description: The Joblogic API is the REST interface to the Joblogic cloud field service management (FSM) platform, covering customers, contacts, sites, assets, jobs, engineer visits, engineers, quotes, and invoices for trades, service, and maintenance contractors.
  version: v1
  contact:
    name: Joblogic Support
    url: https://support.joblogic.com/docs/api-access
    email: support@joblogic.com
servers:
- url: https://api.joblogic.com/api/v1
  description: Production API host (live; firewall / IP-allowlisted, customer-provisioned). The exact production host is confirmed to callers during onboarding.
- url: https://uatapi.joblogic.com/api/v1
  description: UAT sandbox API host used for integration development.
security:
- oauth2ClientCredentials: []
tags:
- name: Invoices
  description: Standard, customer-grouped, and PPM invoices.
paths:
  /Invoice/getall:
    post:
      operationId: searchInvoices
      tags:
      - Invoices
      summary: Search invoices
      description: Searches invoices by keyword and active status.
      parameters:
      - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: A page of matching invoices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvoiceList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Invoice:
    post:
      operationId: createInvoice
      tags:
      - Invoices
      summary: Create an invoice
      parameters:
      - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          description: The created invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/ValidationError'
    put:
      operationId: updateInvoice
      tags:
      - Invoices
      summary: Update an invoice
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/IntIdQuery'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          description: The updated invoice.
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteInvoice
      tags:
      - Invoices
      summary: Delete an invoice
      parameters:
      - $ref: '#/components/parameters/TenantId'
      - $ref: '#/components/parameters/IntIdQuery'
      responses:
        '200':
          description: Deletion confirmation.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Invoice/GetById:
    get:
      operationId: getInvoiceById
      tags:
      - Invoices
      summary: Retrieve an invoice by integer ID
      parameters:
      - $ref: '#/components/parameters/IntId'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: The requested invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
    SearchRequest:
      type: object
      description: Common search envelope used by the /GetAll and /getall endpoints. Fields shown are representative; consult the live documentation for the exact filters supported per resource.
      properties:
        tenantId:
          type: string
          format: uuid
        searchTerm:
          type: string
        tags:
          type: array
          items:
            type: string
        activeStatus:
          type: string
          enum:
          - active
          - inactive
          - all
        pageNumber:
          type: integer
          default: 1
        pageSize:
          type: integer
          default: 50
    Invoice:
      type: object
      properties:
        id:
          type: string
          format: uuid
        invoiceId:
          type: integer
          format: int64
        invoiceNumber:
          type: string
        customerId:
          type: string
          format: uuid
        jobId:
          type: string
          format: uuid
        status:
          type: string
        netTotal:
          type: number
        taxTotal:
          type: number
        grossTotal:
          type: number
        issueDate:
          type: string
          format: date-time
    PagedResult:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        pageNumber:
          type: integer
        pageSize:
          type: integer
        totalCount:
          type: integer
    InvoiceList:
      $ref: '#/components/schemas/PagedResult'
  responses:
    ValidationError:
      description: The request payload failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing, invalid, or expired access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    IntId:
      name: id
      in: query
      required: true
      description: The resource's integer identifier.
      schema:
        type: integer
        format: int64
    IntIdQuery:
      name: Id
      in: query
      required: true
      description: The resource's integer identifier.
      schema:
        type: integer
        format: int64
    TenantId:
      name: tenantId
      in: query
      required: true
      description: The caller's Joblogic tenant identifier (GUID).
      schema:
        type: string
        format: uuid
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: 'OAuth2 client-credentials grant against the Joblogic IdentityServer. The confirmed UAT token endpoint is https://uatidentityserver.joblogic.com/connect/token; the production IdentityServer token endpoint is provided to callers during onboarding. Send client_id, client_secret, grant_type=client_credentials, and the issued scope, then pass the returned access token as `Authorization: Bearer <access_token>`. Tokens expire after one hour.'
      flows:
        clientCredentials:
          tokenUrl: https://uatidentityserver.joblogic.com/connect/token
          scopes: {}
