openapi: 3.0.3
info:
  title: Joblogic Assets Quotes API
  description: 'The Joblogic API is the REST interface to the Joblogic cloud field service management (FSM) platform, covering customers, contacts, sites, assets, jobs, engineer visits, engineers, quotes, and invoices for trades, service, and maintenance contractors. All resource paths sit under `/api/v1`.


    Access model: Joblogic API access is customer-provisioned and gated. A caller is issued a Client ID, Client Secret, and Tenant ID by Joblogic, and the caller''s public IP addresses are allowlisted behind Joblogic''s firewall before requests are accepted. Integrations are first developed against a per-customer UAT sandbox (web app at https://uat.joblogic.com, API host https://uatapi.joblogic.com) and then promoted to production.


    Authentication: Each request must carry a Bearer access token obtained from the Joblogic IdentityServer token endpoint using the OAuth2 client-credentials grant (client_id, client_secret, grant_type, scope). Access tokens expire after one hour; expired or missing tokens return 401 Unauthorized.


    Multi-tenancy: Most operations require a `tenantId` (the caller''s Joblogic tenant, a GUID) supplied as a query parameter.


    Modeling note: This document is modeled by API Evangelist from Joblogic''s published Postman documentation at https://apidocs.joblogic.com/. Endpoint paths, methods, and the auth flow are confirmed from that collection. Request and response schemas are representative - the live API is IP-allowlisted, so payload bodies could not be exercised directly and are illustrative rather than exhaustive.'
  version: v1
  contact:
    name: Joblogic Support
    url: https://support.joblogic.com/docs/api-access
    email: support@joblogic.com
servers:
- url: https://api.joblogic.com/api/v1
  description: Production API host (live; firewall / IP-allowlisted, customer-provisioned). The exact production host is confirmed to callers during onboarding.
- url: https://uatapi.joblogic.com/api/v1
  description: UAT sandbox API host used for integration development.
security:
- oauth2ClientCredentials: []
tags:
- name: Quotes
  description: Quotes and estimates.
paths:
  /Quote/GetAll:
    post:
      operationId: searchQuotes
      tags:
      - Quotes
      summary: Search quotes
      description: Searches quotes by keyword, tags, active status, and date.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchRequest'
      responses:
        '200':
          description: A page of matching quotes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuoteList'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Quote:
    post:
      operationId: createQuote
      tags:
      - Quotes
      summary: Create a quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Quote'
      responses:
        '200':
          description: The created quote.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      operationId: updateQuote
      tags:
      - Quotes
      summary: Update a quote
      parameters:
      - $ref: '#/components/parameters/IntIdQuery'
      - $ref: '#/components/parameters/TenantId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Quote'
      responses:
        '200':
          description: The updated quote.
        '401':
          $ref: '#/components/responses/Unauthorized'
    delete:
      operationId: deleteQuote
      tags:
      - Quotes
      summary: Delete a quote
      parameters:
      - $ref: '#/components/parameters/IntIdQuery'
      - $ref: '#/components/parameters/TenantId'
      responses:
        '200':
          description: Deletion confirmation.
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Quote/GetById:
    get:
      operationId: getQuoteById
      tags:
      - Quotes
      summary: Get quote details
      parameters:
      - $ref: '#/components/parameters/IntIdQuery'
      - $ref: '#/components/parameters/TenantId'
      - name: includeLines
        in: query
        required: false
        schema:
          type: boolean
      responses:
        '200':
          description: The requested quote.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /Quote/Approve:
    post:
      operationId: approveQuote
      tags:
      - Quotes
      summary: Approve a quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Quote approved.
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  parameters:
    IntIdQuery:
      name: Id
      in: query
      required: true
      description: The resource's integer identifier.
      schema:
        type: integer
        format: int64
    TenantId:
      name: tenantId
      in: query
      required: true
      description: The caller's Joblogic tenant identifier (GUID).
      schema:
        type: string
        format: uuid
  schemas:
    Quote:
      type: object
      properties:
        id:
          type: string
          format: uuid
        quoteId:
          type: integer
          format: int64
        quoteNumber:
          type: string
        customerId:
          type: string
          format: uuid
        siteId:
          type: string
          format: uuid
        status:
          type: string
        total:
          type: number
        tags:
          type: array
          items:
            type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        details:
          type: object
          additionalProperties: true
    QuoteList:
      $ref: '#/components/schemas/PagedResult'
    SearchRequest:
      type: object
      description: Common search envelope used by the /GetAll and /getall endpoints. Fields shown are representative; consult the live documentation for the exact filters supported per resource.
      properties:
        tenantId:
          type: string
          format: uuid
        searchTerm:
          type: string
        tags:
          type: array
          items:
            type: string
        activeStatus:
          type: string
          enum:
          - active
          - inactive
          - all
        pageNumber:
          type: integer
          default: 1
        pageSize:
          type: integer
          default: 50
    PagedResult:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            additionalProperties: true
        pageNumber:
          type: integer
        pageSize:
          type: integer
        totalCount:
          type: integer
  responses:
    Unauthorized:
      description: Missing, invalid, or expired access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      description: 'OAuth2 client-credentials grant against the Joblogic IdentityServer. The confirmed UAT token endpoint is https://uatidentityserver.joblogic.com/connect/token; the production IdentityServer token endpoint is provided to callers during onboarding. Send client_id, client_secret, grant_type=client_credentials, and the issued scope, then pass the returned access token as `Authorization: Bearer <access_token>`. Tokens expire after one hour.'
      flows:
        clientCredentials:
          tokenUrl: https://uatidentityserver.joblogic.com/connect/token
          scopes: {}
